<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>League Card</title>
    <link rel="stylesheet" href="../styles/leaguecard.css" />
  </head>
  <body>
    <div class="league-container">
      <div class="league-card">
        <img src="../assets/images/league1.png" />
        <div class="league-info">
          <h3>PowerUp League</h3>
          <p>April 7-16</p>
        </div>
      </div>

      <div class="league-card">
        <img src="../assets/images/league2.png" />
        <div class="league-info">
          <h3>Hoopers League</h3>
          <p>April 9-11</p>
        </div>
      </div>
    </div>
  </body>
</html>
