@media screen and (max-width: 760px) {
     .leagues-details {
       flex-direction: column;
       row-gap: 16px;
     }
   }
   
   .leagues-opened-container {
     padding: 0 80px;
     display: flex;
     flex-direction: column;
   }
   
   .leagues-details {
     display: flex;
     column-gap: 24px;
   
   }
   
   .leagues-image {
     flex-grow: 1;
     position: relative;
     display: inline-block;
   }
   
   .leagues-info {
     flex-grow: 2;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
   }
   
   .leagues-logistics {
     display: flex;
     column-gap: 100px;
   }
   
   .leagues-logistics-cols {
     display: flex;
     flex-direction: column;
     row-gap: 10px;
   }
   
   .leagues-image img {
     width: 400px;
     /* This will make the image responsive */
     height: 200px;
     /* This will maintain the aspect ratio */
     max-width: 600px;
     /* Example max-width, adjust as needed */
     border-radius: 20px;
   }
   
   .leagues-rsvp {
     background-color: var(--primary-color);
     color: white;
     border: none;
     cursor: pointer;
     border-radius: 5px;
     width: 16%;
     padding: 10px 0;
     /* Vertical padding to control height */
     text-align: center;
     /* Centers text horizontally */
     display: inline-block;
     /* Allows the use of text-align */
     font-size: 15px;
     /* Adjust as needed */
     box-sizing: border-box;
     /* Includes padding and border in the element's total width and height */
   }
   
   .leagues-info-row {
     display: flex;
     align-items: baseline;
   }
   
   .leagues-title {
     margin: 0;
     color: var(--primary-color);
     font-size: 18px;
     font-weight: 600;
     width: 100%;
   }
   
   .leagues-body {
     margin-left: 10px;
     font-size: 20px;
     font-family: Inter, sans-serif;
     font-weight: 550;
     color: grey;
   }
   
   
   /* Variable for special color */
   :root {
     --primary-color: #149bfc;
   }
   
   body {
     margin: 0;
     font-family: Inter, sans-serif;
   }
   
   .leagues-header h1 {
     color: var(--primary-color);
     border: none;
     font-weight: 600;
     font-size: 50px;
   }

   .text-overlay {
     position: absolute;
     bottom: 20px; /* Adjust as needed for positioning */
     right: 20px; /* Adjust as needed for positioning */
     color: white; /* Or any other color */
     text-align: left;
     vertical-align:middle;
   }
   
   .league-title {
     font-size: 22px; /* Adjust as needed */
     font-weight: 500; /* Adjust if you want it bold */
     margin: 0; /* Remove margin if you don't want any spacing */
     margin-bottom: 5px; /* Increase space below the title */
   }
   
   .league-date {
     font-size: 18px; /* Adjust as needed */
     margin: 0; /* Remove margin if you don't want any spacing */
   }