/* Variable color */
:root {
  --primary-color: #149bfc;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.navbar {
  display: flex;
  align-items: center; /* Center items vertically in navbar */
  justify-content: space-between; /* Distribute space between elements */
  background-color: white;
  color: black;
  padding: 0 20px;
  height: 70px;
}

.nav-logo {
  flex-grow: 0; /* Don't allow the logo to grow */
  flex-shrink: 0; /* Don't allow the logo to shrink */
  display: flex;
  align-items: center; /* Center logo vertically */
}

.nav-logo img {
  height: 18px; /* Adjust based on your logo's size */
  vertical-align: middle;
}

.nav-logo span {
  margin-left: 5px;
  font-weight: 600;
  font-size: 20px;
}

/* Centered Search Bar */
.nav-search {
  flex-grow: 1; /* Allow the search bar to take up the remaining space */
  display: flex;
  justify-content: center; /* Center search bar horizontally */
}

.nav-search input {
  border: none;
  border-radius: 2px;
  font-size: 16px;
  width: 60%; /* Adjust based on preferred width */
  max-width: 500px; /* Maximum width */
  background-color: #eeeeee;
  padding: 8px 16px;
}

/* Right-aligned link items */
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; /* Align the items vertically centered */
}

.nav-links li {
  padding: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  transition: color 0.2s ease-in-out;
}

.nav-links a:hover {
  color: #999999;
}

.nav-create {
  display: flex;
  align-items: center; /* Align dropdown button vertically centered */
}

.dropbtn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0; /* Align dropdown to the left of the 'Create' button */
  top: 100%; /* Position below the 'Create' button */
  width: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.nav-create:hover .dropdown-content {
  display: block;
}

.nav-create:hover .dropbtn {
  background-color: darken(var(--primary-color), 5%);
}
