/* Variable for special color */


.images {
  max-width: 10px;
  max-height: 10px;
  margin-left: 650px;
  border-radius: 50%;
}


.accept{
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 16%;
  padding: 10px 0;
  /* Vertical padding to control height */
  text-align: center;
  /* Centers text horizontally */
  display: inline-block;
  /* Allows the use of text-align */
  font-size: 15px;
  /* Adjust as needed */
  box-sizing: border-box;
  /* Includes padding and border in the element's total width and height */
}


.reject{
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 16%;
  padding: 10px 0;
  /* Vertical padding to control height */
  text-align: center;
  /* Centers text horizontally */
  display: inline-block;
  /* Allows the use of text-align */
  font-size: 15px;
  /* Adjust as needed */
  box-sizing: border-box;
  /* Includes padding and border in the element's total width and height */
}




.exit{
  background-color: white;
  color: var(--primary-color);
  border: black;
  cursor: pointer;
  border-radius: 10px;
  width: 16%;
  padding: 10px 0;
  /* Vertical padding to control height */
  text-align: center;
  /* Centers text horizontally */
  display: inline-block;
  /* Allows the use of text-align */
  font-size: 15px;
  /* Adjust as needed */
  box-sizing: border-box;
  /* Includes padding and border in the element's total width and height */
}

.texts{
  color: grey;
  font-size: 32px;

  
}


