/* Variable for special color */
:root {
  --primary-color: #149bfc;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.selected-sport-title {
  margin-left: 60px;
  color: var(--primary-color);
}

.selected-sport-titles {
  color: var(--primary-color);
}

.selected-sport-title h1 {
  font-size: 54px;
  font-weight: 600;
}

.selected-sport-title h2 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 20px;
}

.league-information-layout .selected-sport-title h2 {
  font-size: 24px;
}

.league-information-layout .selected-sport-title .event-names-container {
  font-size: 32px; /* Replace with the desired font size */
}

.side-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-options {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  margin-left: 75px;
}

@media screen and (max-width: 905px) {
  .side-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
  }

  .selected-sport-title {
    margin-bottom: 20px; /* Add margin to separate from filter options */
  }

  .filter-options {
    width: 100%; /* Ensure the filter options span the full width */
    text-align: left; /* Center the filter options horizontally */
    margin-left: 60px;
  }

  .filter-options label {
    margin-right: 10px; /* Adjust spacing between checkboxes */
  }

  .selected-sport-title h1 {
    font-size: 40px;
  }
}
