/* Variable for special color */
:root {
  --primary-color: #149bfc;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.selected-sport-title {
  margin-left: 60px;
  color: var(--primary-color);
}

.selected-sport-titles {
  color: var(--primary-color);
}

.selected-sport-title h1 {
  font-size: 64px;
  font-weight: 600;
}

.selected-sport-title h2 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 20px;
}
